.App {
  text-align: center;
  background-color: rgb(89, 89, 175);
}

/* positioning for tables displaying list of cars */
.carDisplayTable {
  margin-right: auto;
  margin-left: auto;
}

/* colour of the warning for the input functionality */
#inputWarning {
  color: rgb(107, 17, 17);
}

/* positioning of the tables in the table container */
#tableDisplays {
  display: flex;
  justify-content: space-around;
  border: 3px solid rgb(63, 34, 102);
  margin: 0 15%;
  background-color: rgb(88, 221, 181);
  border-radius: 8px;
}

/* adds border to all table components */
table, th, td {
  border: 1px solid black;
}

/* styling for the td cells in the tables */
td {
  background-color: white;
  font-weight: 600;
}

/* styling for the th cells in the tables */
th {
  background-color: rgb(133, 133, 223);
}

/* removes top margin from page title */
#title {
  margin-top: 0;
}

/* styling for all input sections */
#addCar, #deleteCar, #updateCar, #updateCars {
  border: 3px solid rgb(63, 34, 102);
  border-radius: 10px;
  margin: 10px 20%;
  background-color: rgb(88, 221, 181);
  padding-bottom: 25px;
}

/* styling for the components in the input sections */
.inputForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* sizing for the buttons in the input sections */
.inputForm > button {
  max-width: 100px;
}